<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand"><img src="../../../assets/ng-icon.png" alt="logo" width="40px">&nbsp;Angular</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <button class="btn btn-sm btn-light border" routerLink="">
            home
          </button>
        </li>
        &nbsp;
        <li>
          <button class="btn btn-sm btn-light border" routerLink="test_path">
            path
          </button>
        </li>
        &nbsp;
        <li>
          <button class="btn btn-sm btn-light border" routerLink="test_path/123">
            path/123
          </button>
        </li>
        &nbsp;
        <li>
          <button class="btn btn-sm btn-light border" routerLink="render_data">
            render data
          </button>
        </li>
        &nbsp;
        <li>
          <button class="btn btn-sm btn-light border" routerLink="input">
            input
          </button>
        </li>
        &nbsp;
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>